<% if user_signed_in? %>
  <div class="public-story-container">
  <h2 id=stories><%=t('latest_public_stories')%></h2>
    <%= render @stories %>
  </div>
<% else %>
  <%= redirect_to root_path %>
<% end %>
