body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
}

/* Texte */
.title {
  margin: 2rem 0 4rem 2rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #00121f;
  padding: 1rem 4rem 1rem 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: large;
  overflow: auto;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  float: right;
  display: inline-block;
}

.navbar-nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-nav a:hover,
.navbar-nav a.active {
  color: #007bff;
}

/* logo */
.logo {
  float: left;
  margin-left: 2rem;
  background-image: url('assets/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 18rem;
  height: 3rem;
}

/* Country icons */
.country-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.country-icons li {
  display: inline-block;
  margin-right: 1rem;
}

.country-icons li:last-child {
  margin-right: 0;
}

#uk,
#fr {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
}

#uk {
  background-image: url('assets/icons/uk.png');
  margin-left: 4rem;
}

#uk:hover {
  background-image: url('assets/icons/uk-hover.png');
}

#fr {
  background-image: url('assets/icons/fr.png');
  margin-right: 4rem;
}

#fr:hover {
  background-image: url('assets/icons/fr-hover.png');
}
      

/* Loading */
  
  
#loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
  
#loading-screen span {
  opacity: 0;
  animation: loading-dots 2s infinite;
}
  
#loading-screen span:nth-child(1) {
  animation-delay: 0s;
}
  
#loading-screen span:nth-child(2) {
  animation-delay: 0.5s;
}
  
#loading-screen span:nth-child(3) {
  animation-delay: 1s;
}
  
@keyframes loading-dots {
  0%, 80%, 100% {
    opacity: 0;
  }
  20%, 70% {
    opacity: 1;
  }
}

/* Forms */
  
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
}

.field {
  margin-bottom: 20px;
}
  
.field label {
  display: block;
  font-weight: bold;
}
  
.field input {
  width: 20rem;
  padding: 10px;
  font-size: 16px;
}
  
.field input, .field select {
  height: 2rem;
  border-radius: 1.2rem;
}
  
  
.actions {
  display: flex;
  justify-content: center;
  margin-right: 8rem;
  margin-top: 3.6rem;
}
  
  
.actions input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1.2rem;
}
  
.actions input[type="submit"]:hover {
  background-color: #0056b3;
}
  
.devise-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  margin-right: 8rem;
}
  
.devise-links a {
  margin: 0 10px;
  color: #fff;
}
  
.remember-me {
  align-items: center;
}
  
.remember-me label {
  margin-left: 10px;
}

  
.puce-remember {
  position: absolute;
  transform: scale(0.7);
  display: flex;
  align-items: center;
}
  
  
  
/* Auth */
  
h2#signup {
  text-align: center;
  margin-top: 2em;
}
  
h2#login {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1rem;
}

h2#profile {
  text-align: center !important;
  margin-top: 2em;
  margin-bottom: 4rem;
}
  
.form-box {
  padding: 20px;
  width: 100%;
  max-width: 500px;
}
 
.button-text {
  font-size: 28px;
}
  
/* Cards */
  
.story-card {
  width: 80%;
  margin: 5% auto;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15); 
  color: #000b12;
  margin-top: 6rem;
}
  
.story-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 2% auto;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  color: #000000;
}
  
.story-summary h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
  
.story-summary p {
  color: #888;
  margin-bottom: 1rem;
  text-align: center;
}
  
.story-summary .delete-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #01588d;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
  
.story-summary .delete-button:hover {
  background-color: #72b3da;
}
  
/* Footer */
  
footer {
  background-image: url('assets/footer_min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 34vh;
  bottom: 0;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
  
.main-content {
  flex: 1;
} 
  
/* Mobile display */
  
.navbar-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
/* Buttons */
  
.device-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}


.device-loginSubscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
  

.newStory-nav-button {
  display: none;
  background-image: url(assets/buttons/yellow_button.png);
  background-size: cover;
  width: 396px;
  height: 153px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 3rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 9rem; 
  margin-top: 3.4rem;
}

.newStory-nav-button:hover {
  color: #ff954e; 
}

.savedStories-nav-button {
  display: none;
  background-image: url(assets/buttons/purple_button.png);
  background-size: cover;
  width: 233px;
  height: 89px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 1.6rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 5.2rem; 
  margin-top: 5rem;
}

.savedStories-nav-button:hover {
  color: #2a27ae; 
}

.myProfil-nav-button {
  display: none;
  background-image: url(assets/buttons/blue_button.png);
  background-size: cover;
  width: 233px;
  height: 89px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 1.6rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 5.2rem; 
  margin-top: 5rem;
}

.myProfil-nav-button:hover {
  color: #021e33; 
}

.storyPublic-nav-button {
  display: none;
  background-image: url(assets/buttons/sky_button.png);
  background-size: cover;
  width: 233px;
  height: 89px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 1.6rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 5.2rem; 
  margin-top: 5rem;
}

.storyPublic-nav-button:hover {
  color: #4aa3b3; 
}
  
.signIn-nav-button {
  display: none;
  background-image: url(assets/buttons/blue_button.png);
  background-size: cover;
  width: 316px;
  height: 122px;
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 6.6rem;
  margin-top: 3.4rem;
}

.signIn-nav-button:hover {
  color: #d3eaf3; 
}
  
.signUp-nav-button {
  display: none;
  background-image: url(assets/buttons/purple_button.png);
  background-size: cover;
  width: 316px;
  height: 122px;
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 6.6rem;
  margin-top: 6rem;
  }

.signUp-nav-button:hover {
  color: #d3eaf3 ;
}
  
.about-nav-button {
  display: none;
  background-image: url(assets/buttons/yellow_button.png);
  background-size: cover;
  width: 182px;
  height: 71px;
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 4.4rem;
  margin-top: 4rem;
}
  
.about-nav-button:hover {
  color: #d3eaf3;
}
  
@media screen and (max-width: 1100px) {
.navbar-nav {
  display: none;
}

.newStory-nav-button {
  display: block;
}

.savedStories-nav-button {
  display: block;
}

.myProfil-nav-button {
  display: block;
}

.storyPublic-nav-button {
  display: block;
}

.signIn-nav-button {
  display: block;
}
  
.signUp-nav-button {
  display: block;
}
.about-nav-button {
  display: block;
}
}

/* Fonts */
  
@font-face {
  font-family: 'Ruda-Bold';
  src: font-url('Ruda-Bold.ttf') format('truetype');
}