body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
}

/* Texte */
.title {
  margin: 2rem 0 4rem 2rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #00121f;
  padding: 1rem 4rem 1rem 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: large;
  overflow: auto;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  float: right;
  display: inline-block;
}

.navbar-nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-nav a:hover,
.navbar-nav a.active {
  color: #007bff;
}

#dropmenu-list {
  display: none;
}


/* logo */
.logo {
  float: left;
  margin-left: 2rem;
  background-image: url('assets/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 18rem;
  height: 3rem;
}

/* Country icons */
.country-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.country-icons li {
  display: inline-block;
  margin-right: 1rem;
}

.country-icons li:last-child {
  margin-right: 0;
}

#uk,
#fr {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
}

#uk {
  background-image: url('assets/icons/uk.png');
  margin-left: 4rem;
}

#uk:hover {
  background-image: url('assets/icons/uk-hover.png');
}

#fr {
  background-image: url('assets/icons/fr.png');
  margin-right: 4rem;
}

#fr:hover {
  background-image: url('assets/icons/fr-hover.png');
}

.profile-mobile {
  display: none;
}
      

/* Loading */
  
  
#loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
  
#loading-screen span {
  opacity: 0;
  animation: loading-dots 2s infinite;
}
  
#loading-screen span:nth-child(1) {
  animation-delay: 0s;
}
  
#loading-screen span:nth-child(2) {
  animation-delay: 0.5s;
}
  
#loading-screen span:nth-child(3) {
  animation-delay: 1s;
}
  
@keyframes loading-dots {
  0%, 80%, 100% {
    opacity: 0;
  }
  20%, 70% {
    opacity: 1;
  }
}

/* Forms */
  
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 11rem;
}

.field {
  margin-bottom: 20px;
}
  
.field label {
  display: block;
  font-weight: bold;
}
  
.field input {
  width: 20rem;
  padding: 10px;
  font-size: 16px;
}
  
.field input, .field select {
  height: 1.5rem;
  border-radius: 1.2rem;
}
  
  
.actions {
  display: flex;
  justify-content: center;
  margin-right: 8rem;
  margin-top: 1.2rem;
  padding-right: 2rem;
}
  
  
.actions input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1.2rem;
}
  
.actions input[type="submit"]:hover {
  background-color: #0056b3;
}
  
.devise-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  margin-right: 8rem;
}
  
.devise-links a {
  margin: 0 10px;
  color: #fff;
}
  
.remember-me {
  align-items: center;
}
  
.remember-me label {
  margin-left: -5px;
  padding: 6px;
}

  
.puce-remember {
  position: absolute;
  transform: scale(0.6);
  display: flex;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.checkboxIsPublic {
  width: 4rem !important;
  padding: 6px !important;
  height: 1.4rem !important;
}
  
  
  
/* Auth & Titles */
  
h2#signup {
  text-align: center;
  margin-top: 2em;
}
  
h2#login {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1rem;
}

h2#profile {
  text-align: center !important;
  margin-top: 2em;
  margin-bottom: 3rem;
}

.subscription-info {
  margin-bottom: 2rem;
}
  
.form-box {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
}
 

  
/* Cards */
  
.story-card {
  width: 80%;
  margin: 5% auto;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15); 
  color: #000b12;
  margin-top: 6rem;
}

.story-card .delete-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #01588d;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
  
.story-card .delete-button:hover {
  background-color: #72b3da;
}
  
.story-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 2% auto;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
  
.story-summary h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
  
.story-summary p {
  color: #888;
  margin-bottom: 1rem;
  text-align: center;
}
  
.story-summary .delete-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #01588d;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
  
.story-summary .delete-button:hover {
  background-color: #72b3da;
}

.subscriptions-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.subscription-plan {
  display: flex;
  background-color: #f5f7f9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 4rem;
  border-radius: 1rem;
  height: 236px;
  width: 242px;
}

.sub-menu {
  min-width:150px;
}



/* Footer */
  
footer {
  background-image: url('assets/footer_min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 34vh;
  bottom: 0;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
  
.main-content {
  flex: 1;
} 
  
/* Mobile display */
  
.navbar-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}


  
/* Buttons */
  
.device-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}


.device-loginSubscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
  

.newStory-nav-button {
  display: none;
  background-image: url(assets/buttons/yellow_button.png);
  background-size: cover;
  width: 235px;
  height: 91px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 5.6rem; 
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}

.newStory-nav-button:hover {
  color: #ff954e; 
}

.savedStories-nav-button {
  display: none;
  background-image: url(assets/buttons/purple_button.png);
  background-size: cover;
  width: 176px;
  height: 67px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 1.3rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 4.2rem; 
  margin-top: 2rem;
}

.savedStories-nav-button:hover {
  color: #2a27ae; 
}

.subscription-nav-button {
  display: none;
  background-image: url(assets/buttons/blue_button.png);
  background-size: cover;
  width: 176px;
  height: 67px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 1.3rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 4.2rem; 
  margin-top: 1.8rem;
}

.subscription-nav-button:hover {
  color: #021e33; 
}

.storyPublic-nav-button {
  display: none;
  background-image: url(assets/buttons/sky_button.png);
  background-size: cover;
  width: 176px;
  height: 67px; 
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 1.3rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  line-height: 4.2rem; 
  margin-top: 4rem;
}

.storyPublic-nav-button:hover {
  color: #4aa3b3; 
}

.signIn-nav-button {
  display: none;
  background-image: url(assets/buttons/blue_button.png);
  background-size: cover;
  width: 214px;
  height: 82px;
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 4.6rem;
}

.signIn-nav-button:hover {
  color: #d3eaf3; 
}
  
  
.signUp-nav-button {
  display: none;
  background-image: url(assets/buttons/purple_button.png);
  background-size: cover;
  width: 214px;
  height: 82px;
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 4.6rem;
  margin-top: 2.4rem;
  }

.signUp-nav-button:hover {
  color: #d3eaf3 ;
}
  
.about-nav-button {
  display: none;
  background-image: url(assets/buttons/yellow_button.png);
  background-size: cover;
  width: 156px;
  height: 60px;
  font-family: 'Ruda-Bold', Fallback, sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 3.6rem;
  margin-top: 2.4rem;
}
  
.about-nav-button:hover {
  color: #d3eaf3;
}

// CSS for mobile display

/*#############################################*/
/*#             IPHONE 14/ 14PRO              #*/
/*#############################################*/ 

@media screen and (max-width: 393px) {

.logo{
  width: 10rem;
  height: 2rem;
  margin-left: 1.2rem;
}

#uk{
  margin-left: 2.2rem;

}

#fr{
  margin-right: 2.2rem;
}

.navbar {
  overflow: hidden;
}
  
.navbar-nav {
  display: none;
}

.dropdown-menu {
  display: none;
  position: fixed; /* Positionnement du menu par rapport à la fenêtre du navigateur */
  right: 0; /* Menu déroulant positionné à droite */
  top: 60px; /* Ajustez cette valeur pour positionner le menu déroulant sous le bouton */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 1rem;
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  color: #007bff; 
}

.dropdown-menu a:active {
  color: #007bff;
}

#dropmenu-list {
  display: block;
}


.profile-mobile {
  display: block;
  margin-left: 0.6rem;
}

// Text

h2#profile {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-box {
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
}

.subscription-info {
  text-align: center;
  margin-bottom: 0.2rem;
  font-size: 12px;
}

.field input, .field select {
  height: 1.4rem;
  border-radius: 0.8rem;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
}

.field input {
  width: 19rem;
  padding: 10px;
  font-size: 12px;
}

.devise-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  margin-right: 2rem;
  font-size: 12px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 3.2rem;
}

// Cards

.story-summary {
  font-size: 12px;
  border-radius: 40px;
  padding: 2rem;
  margin-bottom: 2rem;

}

.story-summary h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.story-summary .delete-button {
  padding: 6px 14px;
}

.subscriptions-container{
  margin-top: 1rem;

}

.subscription-plan {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.story-card {
  width: 80%;
}


// Buttons

.button-text {
  font-size: 24px;
}

.newStory-nav-button {
  display: block;
}

.savedStories-nav-button {
  display: block;
}

.subscription-nav-button {
  display: block;
}

.storyPublic-nav-button {
  display: block;
}

.signIn-nav-button {
  display: block;
}
  
.signUp-nav-button {
  display: block;
}
.about-nav-button {
  display: block;
}

// Pages
/* Home */

.stories-container {
  display: none;
}

.public-story-container{
  display: block;
}

footer{
  font-size: 12px;
}

}


/*#############################################*/
/*#             IPHONE 14/ 14PRO              #*/
/*#############################################*/ 

@media screen and (max-width: 375px) {

.logo {
  width: 9.6rem;
}

.newStory-nav-button {
  width: 187px;
  height: 73px;
  line-height: 4.6rem;
  margin-top: 1.9rem;
}

.savedStories-nav-button {
  width: 151px;
  height: 57px;
  font-size: 1.1rem;
  line-height: 3.6rem;
  margin-top: 0.2rem;
}

.storyPublic-nav-button {
  width: 151px;
  height: 57px;
  font-size: 1.1rem;
  line-height: 3.6rem;
  margin-top: 2rem;
}

.story-card {
  width: 70%;
}

.story-card .delete-button {
  margin-top: 1rem;
}


.field {
  margin-bottom: 0.4rem;
}

.field label {
  margin-bottom: 0.1rem;
}

.actions {
  margin-top: 0.18rem;
}

}




/* Fonts */
  
@font-face {
  font-family: 'Ruda-Bold';
  src: font-url('Ruda-Bold.ttf') format('truetype');
}

.stripe-checkout-button{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color:white;
  background-color: #007BFF;
  border-color: #007BFF;
}
.stripe-checkout-button:hover{
  background-color: #01588d;
}